body {
    display: flex;
    
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    display: flex;
    justify-content: space-between;
}

.form {
    display: flex;
    color: white;
    border: solid black 5px;
    border-radius: 15px;
    flex-direction: column;
    align-items: left;
    flex: 1;
    margin-right: 20px;
    /* margin-bottom: 8px; */
}

.form-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-image img {
    max-width: 100%;
    height: auto;
}